/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
Setting the type to minor second modular scale
  http://www.modularscale.com/?1&em&1.2&web&text
*/

html {
  font-size: 1.063em; /* 17 px */
  line-height: 1.294em; /* 22px = 1 gridline*/
  padding: 1.222em 0.916em; /* 16.5px */
}

h1 {
  font-size: 1.294em; /* 22 px*/
  line-height:1.363em; /* 30 px */
}

p,
ul {
  padding-bottom: 1.176em; /*20 px ..../17 */
}

li {
  padding-left: 1.470em; /* 25pm */
  padding-bottom: .588em; /* 10px */
}

p:last-child {
  padding-bottom: 0;
}
